<li>
  {{log 'Post is:' post}}
  <h3>{{post.title}}</h3>
  <p><cite>{{post.author}}</cite></p>
  <img src="{{post.image}}" class="post-image" alt="{{post.title}}" />
  <p>{{post.teaser}}</p>
  <button {{action 'delete' post}}>Delete Post</button>
</li>
