<div class="row post-tile">
  <div class="col-md-4 post-image">
    <img src="{{post.image}}" class="post-tile-image" alt="{{post.title}}" />
  </div>
  <div class="col-md-6 post-body">
    {{#link-to 'post' post.id}}
    <h3>{{post.title}}</h3>
    {{/link-to}}
    <p><cite>{{post.author}}</cite></p>
    <p>{{post.teaser}}</p>
  </div>
</div>
