<h2>{{post.title}}</h2>
<p><cite>{{post.author}}</cite></p>
<img src="{{post.image}}" class="post-image" alt="{{post.title}}" />
<p>{{post.teaser}}</p>

{{update-post post=post update="update"}}
<button {{action 'delete' post}}>Delete Post</button>
